@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(30, 38%, 92%);
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    padding: 20px;
}

article > picture > img {
    max-width: 300px;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}

.card-container {
    display: flex;
    max-width: 600px;
    margin: 100px auto 20px auto;
    border-radius: 8px;
    background-color: #fff;
}

.product-description {
    padding: 31px;
}

h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    letter-spacing: 4px;
    font-size: 13px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 29px;
    line-height: 32px;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.863);
}

p {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

strong {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

small {
    font-size: 14px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 18px 0px;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    border: transparent;
    border-radius: 9px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button:active {
    background-color: hsl(158, 36%, 15%);
}

@media (max-width: 675px) {
    .card-container {
        flex-direction: column;
        margin: 0 auto 20px;
    }

    article > picture > img {
        max-width: 100%;
        height: 100%;
        border-radius: 8px 8px 0px 0px;
    }

    .product-description {
        padding: 20px;
    }
}

/* footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }